<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>后台管理</title>
</head>
<body>
    <div id="postform" style="margin: auto ;border: blanchedalmond" align="center">
        <form action="/admin/itemInput" method="post" enctype="multipart/form-data">
            展品名称<input type="text" name="itemname" ><br>
            展品介绍<input type="text" name="intro"><br>
            展品类别<input type="text" name="typename"><br>
            展品年代<input type="text" name="era"><br>
            <input type="file" name="photo"><br>
            <input type="submit" name="提交" value="提交">
        </form>
    </div>

    <div align="center" style="border: aqua">
        <form action="/admin/eraInput" method="post">
            年代<input type="text" name="era.eraname"><br/>
            开始时间<input type="text" name="era.begintime"><br/>
            结束时间<input type="text" name="era.endtime"><br/>
            <input type="submit" name="提交" value="提交">
        </form>
    </div>

</body>
</html>