<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqupt.nmid.wxhelper.wxhelper.dao.ItemDao">

<!--    基础查询-->
        <sql id="baseSet">SELECT id,imap,purl,`itemname`,likenum,collectnum,commentnum FROM itemview</sql>
<!--    展品-->
    <select id="getAll" resultMap="baseItemMap">
        <include refid="baseSet"></include>
    </select>

<!--展品的条件查询-->
    <select id="searchByName" resultMap="baseItemMap" parameterType="java.lang.String">
        <include refid="baseSet"></include>
        where itemname like #{value };
  </select>
    <select id="getItemsByType" resultMap="baseItemMap" parameterType="java.lang.Integer">
        <include refid="baseSet"></include>
        where type_id = #{id};
  </select>
    <select id="getItemsByEra" resultMap="baseItemMap" parameterType="java.lang.Integer">
        <include refid="baseSet"></include>
         where era_id = #{id};
  </select>
    <select id="getItemsByCollection" resultMap="baseItemMap">
        <include refid="baseSet"></include>
         order by collectnum;
  </select>
    <select id="getItemsByComment" resultMap="baseItemMap">
        <include refid="baseSet"></include>
        order by commentnum;
  </select>
    <select id="getItemsByClick" resultMap="baseItemMap" >
        <include refid="baseSet"></include> order by likenum;
  </select>
    <select id="getItemById" parameterType="java.lang.Integer" resultMap="itemMap">
            SELECT id,imap,purl,era_name,intro,video,itemname,type_name ,likenum,collectnum,commentnum from itemview where id= #{id};
    </select>

    <!--    类型-->
    <!--    通过类型名称获取类型id-->
    <select id="getTypeId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id from `type` where `type`.typename = #{typename};
    </select>

    <!--年代-->
    <!--通过年代名称获取年代id-->
    <select id="getEraId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id from `era` where `era`.eraname = #{era};
    </select>
    <select id="getAllEra">
        select * from  era;
    </select>
    <select id="getAllType">
         select * from  `type`;
    </select>
    <update id="updateVideo">
        update item set video =#{video} where id = #{itemid};
    </update>
    <update id="updateEra">
        update era set eraname=#{eraname},begintime=#{begintime},endtime=#{endtime} where id = #{id};
    </update>
    <insert id="updatePhoto">
        insert photo(item_id,url) values (#{itemid},#{photo})
    </insert>
    <insert id="saveType" parameterType="java.lang.String" >
        <selectKey keyColumn="id" keyProperty="id" resultType="int">
            select last_insert_id();
        </selectKey>
        INSERT type (typename) values (#{typename});
    </insert>
    <insert id="saveEra" parameterType="Era">
        insert into era(eraname,begintime,endtime) values (#{eraname},#{begintime},#{endtime})
    </insert>
    <insert id="saveHistory">
        insert into history(item_id,user_id,`time`) values (#{item_id},#{user_id}.#{date});
    </insert>
    <insert id="saveItem" parameterType="Item" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert item (`itemname`,intro,era_name,type_name) values(#{name},#{intro},#{era},#{type});
    </insert>

    <update id="updateItem" parameterType="Item">
        update item set itemname = #{name},intro = #{intro},era_name = #{era},type_name = #{type} where id=#{id};
    </update>

    <update id="updateType">
        update type set typename = #{typename} where id = #{id};
    </update>
    <delete id="deleteItemById" parameterType="java.lang.Integer">
        delete from item where id = #{itemid};
    </delete>
    <delete id="deleteEraById" parameterType="java.lang.Integer">
        delete from era where id = #{id};
    </delete>
    <delete id="deleteTypeById" parameterType="java.lang.Integer">
        delete from `type` where id = #{id};
    </delete>
    <delete id="deleteTypeByName" parameterType="java.lang.String">
        delete from `type` where typename = #{name};
    </delete>
    <resultMap id="itemMap" type="Item">
        <id column="id" property="id" javaType="java.lang.Integer"></id>
        <result column="eraname" property="era" javaType="java.lang.String"></result>
        <result column="intro" property="intro"></result>
        <result column="video" property="video"></result>
        <result column="itemname" property="name"></result>
        <result column="typename" property="type" javaType="java.lang.String"></result>
        <result column="collectnum" property="collectnum"></result>
        <result column="commentnum" property="commentnum"></result>
        <result column="likenum" property="likenum"></result>
        <result column="imap" property="imap"></result>
        <collection property="photos" javaType="ArrayList" ofType="string" >
            <result property="photos" column="purl"></result>
        </collection>
    </resultMap>
    <resultMap id="baseItemMap" type="BaseItem">
        <id column="id" property="id" javaType="java.lang.Integer"></id>
        <result column="itemname" property="name"></result>
        <result column="collectnum" property="collectnum"></result>
        <result column="commentnum" property="commentnum"></result>
        <result column="likenum" property="likenum"></result>
        <collection property="photos" javaType="ArrayList" ofType="string" >
            <result property="photos" column="purl"></result>
        </collection>
    </resultMap>

</mapper>